body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #222222), url('../img/background.jpg');
    padding: 20px 0;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
}

.caixa {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    /*centralização*/
}

header .caixa img {
    width: 300px;
}

nav {
    position: absolute;
    top: 170px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #f5d8a9;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
}

nav a:hover {
    color: #c78c19;
}

#sobre {
    width: 100%;
    background: #222222;
}

#sobre div .titulo-principal {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5%;
    color: #f0f0f5;
}

#sobre div {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
}

#sobre div p {
    padding: 0 3%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1em;
    box-sizing: border-box;
    line-height: 34px;
    color: #f0f0f5;
}

#sobre div .sobre-img {
    width: 47%;
    height: auto;
    display: inline-block;
}

#se-produtos {
    margin: 40px auto;
}

#se-produtos h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5%;
    color: #222222;
}

.produtos {
    width: 90%;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    height: 400px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos h2 {
    font-weight: bold;
    font-size: 25px !important;
}

.produto-descricao {
    font-size: 16px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:hover h2 {
    font-size: 30px;
}

footer {
    margin: 40px auto 0;
    text-align: center;
    background: #f0f0f5;
    padding: 40px 0;
    height: 250px;
}

footer img {
    width: 250px;
}

.copyright {
    font-size: 13px;
    color: #222222;
}

@media screen and (max-width:768px) {
    #se-produtos h2, #sobre div .titulo-principal {
        font-size: 33px;
        margin: 0 1em 5%;
    }
    #sobre div p {
        width: 100%;
        display: block;
        text-align: justify;
        font-size: 16px;
        margin: 1.2em auto;
    }
    #sobre div .sobre-img {
        width: 79%;
        display: block;
        margin: 0 auto;
    }
    #se-produtos .produtos li {
        display: block;
        width: 80%;
        margin: 2em auto;
    }
}

@media screen and (max-width:425px) {
    header .caixa nav {
        position: static;
    }
    header .caixa {
        position: static;
    }
    header .caixa img {
        margin: 0 auto;
        display: block;
    }
    header .caixa nav {
        text-align: center;
    }
}

@media screen and (max-width:375px) {
    header .caixa img {
        width: 75%;
    }
    .caixa nav a {
        font-size: 18px;
    }
    #sobre div .titulo-principal {
        font-size: 20px;
    }
    #sobre div p {
        font-size: 14px;
        padding: 5px;
    }
    #se-produtos h2 {
        font-size: 25px;
    }
    #se-produtos .produtos img {
        width: 80%;
    }
    #se-produtos .produtos p {
        margin: 30px;
    }
}

@media screen and (max-width:320px) {
    .caixa nav a {
        font-size: 12px;
    }
    #sobre div .titulo-principal {
        font-size: 15px;
    }
    #sobre div p {
        font-size: 12px;
    }
}